html {
  scroll-behavior: smooth;
}
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    opacity: 0.25;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.15;
    z-index: 1;
  }

  .myCard {
    background-color: rgb(208, 255, 208);
  }


  /* down arrow */

  .arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  
  .arrow {
    position: absolute;
    left: 50%;
    transition: all .4s ease;
  }
  .arrow:before, .arrow:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #fff;
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%;
  }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%;
  }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%;
  }


  /* down arrow end */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('Wallpaper_Excel_3-1.png') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }

    .arrow-container {
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
  }